body {
    font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
}
a {
	text-decoration: none;
	color: #422;
}
td {
	Vertical-Align: Top;
}

/*--------------------------------------------------*/

#total {
	
	/*Background-image:url("../../../static/forum/img/parchemin.jpg");*/
	background-repeat:repeat;
	background-color: #b8a186;
	width: 85%;/*80*/
	min-width: 550px;
	max-width : 1000px;
	margin: auto;
	
	Margin-Top: 5%;
	
}

#header {
    height: 120px;
	Z-Index: 6;
}

#base {
	/*background-color: #cfc6b5;*/
	margin-left: 5%;/*10*/
	margin-right: 5%;/*10*/
	Border-Style: Solid;
	Border-Width: 1pt;
	Border-Color: #753;
	/*Opacity: 0.65;*/
	padding-bottom: 15px;
	/*min-height: 600px;*/
	
}

#footer {
	margin-left: 10%;
	margin-right: 10%;
	height: 30px;
}

/*MENU HAUT--------------------------------------------------*/

#menu_haut{
	width:100%;
	height:25px;
	background-color: #7a4a3a;
	text-align: center;
	Font-Size: 9pt;
	color: #cab3a1;
}


#bouton_menu_gauche{
	width:70px;
	float:left;
	padding : 5px;
	background-color: #603020;
	Border-Right: 1pt Solid;
}

#bouton_menu_droite{
	width:70px;
	float:right;
	padding : 5px;
	background-color: #603020;
	Border-Left: 1pt Solid;
}


/*IMAGE--------------------------------------------------*/


#img_perso {
	width: 82px;
	height: 90px;
	/*background-image: url("../img/persos/tir_arkhos.jpg");*/
	
}
#img_lieu{
	
	width: 90px;
	height: 90px;
}

#img_bouton{
	padding:2px;
	display:inline;
}

/*TEXTE--------------------------------------------------*/

#texte_titre {
	/*padding-top:3px;*/
	Font-Weight: Bold;
	text-align: left;
	Font-Size: 11pt;
	color: #521;
	Opacity: 0.9;
	text-decoration: none;
}

#texte_sstitre {
	padding-top:2px;
	text-align: left;
	Font-Weight: Bold;
	Font-Size: 9pt;
	color: #521;
	Opacity: 0.8;
}

#texte_base{
	padding-top : 5px;
	text-align: left;
	Font-Size: 9pt;
	color: #332;
	Opacity: 0.8;
}

/*LOGIN--------------------------------------------------*/


#login {
	/*background-color: #cfc6b5;*/
	Width : 400px;
	Border-Style: Solid;
	Border-Width: 1pt;
	Border-Color: #775;
	/*Opacity: 0.65;*/
	padding : 25px;
	/*min-height: 600px;*/
	Font-Size: 9pt;
	color: #332;
}

#login_texte {
	Font-Size: 10pt;
	color: #332;
}



