{% extends "forum\_base.html" %}
{% block title %}MESSAGERIE{% endblock %}

{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'forum\css\message.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'forum\css\post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'forum\css\post_action.css' %}">
{% endblock %}

{% block style %}
{% endblock %}


{% block entete %}


<div class=entete>
	<div class=texte_surtitre>MESSAGES</div>
	<div><img src="{% static separateur_h %}"></div>
</div>

{% endblock %}




{% block main %}

<div id=menu_haut>
	{% if perso_id == 0 %}<div style="opacity:0.5;">{% else %}<div>{% endif %}
	<div class=bouton_menu_gauche style="width:100px;">
		<a class=texte_bouton_menu href="/forum/messagerie/-{{joueur.id}}/0/reception/">Messages</a>
	</div></div>

	{% if perso_id == 1 %}<div style="opacity:0.5;">{% else %}<div>{% endif %}
	<div class=bouton_menu_gauche style="width:170px;">
		<a class=texte_bouton_menu href="/forum/messagerie/-{{joueur.id}}/1/reception/">Discussions Personnages</a>
	</div></div>
		
</div>
{% if perso_id == 0 %}
	

	{% if joueur.statut == "MJ" %}
		
		{% include "forum\message_attenteresultat.html" %}
	{% endif %}	

	{% include "forum\message_mail.html" %}




		
	



{% else %}

	{% include "forum\message_conversation.html" %}

{% endif %}


{% endblock %}