<!DOCTYPE html>
<html lang="fr">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="..\..\static\forum\css\cssfile.css">
<link rel="stylesheet" type="text/css" href="..\..\static\forum\css\cssfile_index.css">
<style>
#total {
	Background-image:url("../../static/forum/img/parchemin.jpg");
}

#index_personnage {
	Background-image:url("../../static/forum/img/fond1.png");
}
#index_lieu {
	Background-image:url("../../static/forum/img/fond1.png");
}
#index_actu {
	Background-image:url("../../static/forum/img/fond1.png");
}

</style>
</head>
<body background="..\..\static\forum\img\marbre.jpg">



<div id=total align="left">
	
	<div id=header>
		<div id=menu_haut>
				<div id=bouton_menu_gauche style="width: 30px;padding:2px;"><img src="..\..\static\forum\img\index.png"></div>
				<div id=bouton_menu_gauche style="width: 30px;padding:2px;"><img src="..\..\static\forum\img\msg.png"></div>
				<div id=bouton_menu_gauche>Forum</div>
				<div id=bouton_menu_gauche>Background</div>
				<div id=bouton_menu_gauche>Notice</div>
				
				<div id=bouton_menu_droite style="width: 30px;padding:1px;"><img src="..\..\static\forum\img\deconnexion.png"></div>
				<div id=bouton_menu_droite style="Border-Right: 0pt;">Lionel</div>
				
				

		</div>
		
		<div align="center"><img src="..\..\static\forum\img\titre.png"></div>
	</div>
	
	
	
	
	

	
	<!-- partie personnage-->
	
	<div id=index_personnage align="center">
		
		<div id=index_titre>
		PERSONNAGES
		</div>
		
		<div id=index_base_perso align="left">
			
			<div id=index_elt>
				
				

				<div id=index_elt_img align="center">
					<div id=img_perso style="background:url(../../static/forum/img/persos/tir_arkhos.jpg);">
						<img src="..\..\static\forum\img\sante_blesse2.png" width="81" height="88" border="1">
					</div>
				</div>
				

				
				<div id=index_elt_info>
					<div id=texte_titre><a href="#">Tir-Arkhos</a></div>
					<div id=texte_sstitre>Exarque Urbi</div>
					<div id=texte_base>Gravement Blessé<br>Situation<br></div>
					<div id=texte_base>7 gardes - 0 troupe</div>
				</div>
				
				
				<!--<img src="..\..\static\forum\img\separateur_v.png" style="display:inline-table;">-->
				

				
				<div id=index_elt_info_lieu>
					<div id=texte_titre>Le Sénat</div>
					<div id=texte_sstitre>Dernières actions :</div>
					<div id=texte_base>
						19h25-26/09 : Hal-Carmin<br>
						19h03-26/09 : Tir-Arkhos<br>
						
					</div>	
				</div>
				
				
				<div id=index_elt_action align="left">
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
				</div>
				
			</div>

			
			
			<div  align=center><img src="..\..\static\forum\img\separateur_h.png"></div>
			
			
			
			
			<div id=index_elt>
				

				<div id=index_elt_img align="center">
					<div id=img_perso style="background:url(../../static/forum/img/persos/tir_arkhos.jpg);">
						<img src="..\..\static\forum\img\sante_OK.png" width="81" height="88" border="1">
					</div>
				</div>
				

				
				<div id=index_elt_info>
					<div id=texte_titre><a href="#">Tir-Arkhos</a></div>
					<div id=texte_sstitre>Exarque Urbi</div>
					<div id=texte_base>Gravement Blessé<br>Situation<br></div>
					<div id=texte_base>7 gardes - 0 troupe</div>
				</div>
				
				
				
				<img src="..\..\static\forum\img\separateur_v.png" style="display:inline-table;">
				

				<div id=index_elt_info_lieu>
					<div id=texte_titre>Le Sénat</div>
					<div id=texte_sstitre>Dernières actions :</div>
					<div id=texte_base>
						19h25-26/09 : Hal-Carmin<br>
						19h03-26/09 : Tir-Arkhos<br>
						<br>
					</div>
				</div>
				
				

				<div id=index_elt_action align="left">
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
				</div>
				
			</div>
		

		
		</div>
	</div>
	<!-- partie territoire-->
	
	<div id=index_actu align="center">
		<div id=index_titre>ACTUALITES</div>
		<div id=index_actu_all>
			<div id=texte_sstitre>  10h - 22e jour d'Ulfis</div>
		</div>
	</div>
	
	
	<div id=index_lieu align="left">
		
		<div id=index_titre>
		TERRITOIRES
		</div>
		
		<div id=index_base_perso align="left">
			
			<div id=index_elt>
				
				
				
				<div id=index_elt_img align="center">
					<div id=img_perso style="background:url(../../static/forum/img/persos/tir_arkhosdfss.jpg);">
						<img src="..\..\static\forum\img\sante_OK.png" width="88" height="88" border="1">
					</div>
				</div>
				
				

				
				<div id=index_elt_info>
					<div id=texte_titre><a href="#">L'Hôpital</a></div>
					<div id=texte_sstitre>QG Elnia</div>
					<br>
					<div id=texte_sstitre>Tir-Merias<br>Maître guérisseur</div>
					<div id=texte_base>
					</div>
				</div>
				
				
				<!--<img src="..\..\static\forum\img\separateur_v.png" style="display:inline-table;">-->
				

				
				<div id=index_elt_info_lieu>
					<div id=texte_titre>Caracteristiques</div>
					<div id=texte_base>
						Défense : 3<br>
						Gardes : 2<br>
						Troupe : 1<br>
						Piège : 0
						
					</div>	
				</div>
				
				<div id=index_elt_info_lieu>
					
					<div id=texte_titre>Activités</div>
					<div id=texte_sstitre>Dernières actions :</div>
					<div id=texte_base>
						19h25-26/09 : Hal-Carmin<br>
						19h03-26/09 : Tir-Arkhos<br>
						
					</div>	
				</div>
				
				
				<div id=index_elt_action align="left">
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
				</div>
				
			</div>

			
			
			<div  align=center><img src="..\..\static\forum\img\separateur_h.png"></div>
			
			
		
		</div>
		
		
	</div>
	
	<!--<div id=index_actu2></div>-->
	
	<div id=footer>
	</div>

</div>

</body>
</html>