<!DOCTYPE html>
<html lang="fr">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="..\..\static\forum\css\cssfile.css">
<link rel="stylesheet" type="text/css" href="..\..\static\forum\css\cssfile_index_perso.css">
<style>
#total {
	Background-image:url("../../static/forum/img/parchemin.jpg");
}
#base {
	Background-image:url("../../static/forum/img/fond1.png");
}

</style>
</head>
<body background="..\..\static\forum\img\marbre.jpg">



<div id=total align="center">
	
	<div id=header>
		<div id=menu_haut>
				<div id=bouton_menu_gauche style="width: 30px;padding:1px;"><img src="..\..\static\forum\img\index.png"></div>
				<div id=bouton_menu_gauche style="width: 30px;padding:1px;"><img src="..\..\static\forum\img\msg.png"></div>
				<div id=bouton_menu_gauche>Forum</div>
				<div id=bouton_menu_gauche>Background</div>
				<div id=bouton_menu_gauche>Notice</div>
				
				<div id=bouton_menu_droite style="width: 30px;padding:1px;"><img src="..\..\static\forum\img\deconnexion.png"></div>
				<div id=bouton_menu_droite style="Border-Right: 0pt;">Lionel</div>
				
				

		</div>
		
		<div align="center"><img src="..\..\static\forum\img\titre.png"></div>
	</div>
	
	
	<!-- partie personnage-->
	<div id=base>
		<div id=index_titre>
		PERSONNAGES
		</div>
		
		<div id=index_base align="left">
			
			<div id=index_perso style="min-height: 120px;">
				
				<!--<div id=partie_gauche>-->
				<div id=img_perso align="center">
					<div id=img_fond_perso style="background:url(../../static/forum/img/persos/tir_arkhos.jpg);">
						
						<img src="..\..\static\forum\img\sante_blesse2.png" width="81" height="88" border="1">
					</div>
					
				</div>
				
				<div id=index_perso_info>
					<div id =index_perso_titre><a href="#">Tir-Arkhos</a></div>
					<div id=index_perso_sstitre>Exarque Urbi</div>
					<div id=index_perso_text>Gravement Blessé<br>Situation<br></div>
					<div id=index_perso_text>7 gardes - 0 troupe</div>
				</div>
				<!--</div>-->
				
				<div id=partie_gauche><img src="..\..\static\forum\img\separateur_v.png"></div>
				
				<div id=index_info_lieu>
					<div id =index_perso_titre>Le Sénat</div>
					<div id=index_perso_text>
						Dernières actions :<br>
						19h25-26/09 : Hal-Carmin<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						19h03-26/09 : Tir-Arkhos<br>
						<br>
					
						
					</div>
					
				</div>
				
				<div id=index_perso_action align="right">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
				</div>
				
				<div id=index_perso_present>
				
				</div>
				
			</div>
			
			
			<div id=index_perso style="min-height: 120px;">
				
				<!--<div id=partie_gauche>-->
				<div id=img_perso align="center">
					<div id=img_fond_perso style="background:url(../../static/forum/img/persos/tir_arkhos.jpg);">
						
						<img src="..\..\static\forum\img\sante_blesse2.png" width="81" height="88" border="1">
					</div>
					
				</div>
				
				<div id=index_perso_info>
					<div id =index_perso_titre><a href="#">Tir-Arkhos</a></div>
					<div id=index_perso_sstitre>Exarque Urbi</div>
					<div id=index_perso_text>Gravement Blessé<br>Situation<br></div>
					<div id=index_perso_text>7 gardes - 0 troupe</div>
				</div>
				<!--</div>-->
				<div id=partie_gauche><img src="..\..\static\forum\img\separateur_v.png"></div>
				<div id=index_info_lieu>
					<div id =index_perso_titre>Le Sénat</div>
					<div id=index_perso_text>
						Dernières actions :<br>
						19h25-26/09 : Hal-Carmin<br>
						19h03-26/09 : Tir-Arkhos
						
					</div>
					
				</div>
				
				<div id=index_perso_action align="right">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
					<img src="..\..\static\forum\img\bouton.png">
				</div>
				
				<div id=index_perso_present>
				
				</div>
				
			</div>
		

		
	</div>
	<br>
	<!-- partie territoire-->
	
	<div></div>
	<div id=footer>
	
	</div>
	
</div>




</body>
</html>