<!DOCTYPE html>
<html lang="fr">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="..\..\static\forum\css\_test_index_perso.css">
<style>
#total {
	Background-image:url("../../static/forum/img/parchemin.jpg");
}

</style>
</head>
<body background="..\..\static\forum\img\marbre.jpg">




			
			<div id=index_elt style="background-color: #eee;">
				
				

				<div id=index_elt_img align="center">
				
					<div id=img_perso style="background:url(../../static/forum/img/persos/tir_arkhos.jpg);">
						<img src="..\..\static\forum\img\sante_blesse2.png" width="81" height="88" border="1">
					</div>
				</div>
				
				
				
				
				
				
				
				<div id=index_elt_info>
					<div id=texte_titre><a href="#">Tir-Arkhos</a></div>
					<div id=texte_sstitre>Exarque Urbi</div>
					<div id=texte_base>Gravement Blessé<br>Situation<br></div>
					<div id=texte_base>7 gardes - 0 troupe</div>
				</div>
				
				
				
				<img src="..\..\static\forum\img\separateur_v.png" style="display:inline-table;">
				
				
				
				
				<div id=index_elt_info_lieu>
					<div id=texte_titre>Le Sénat</div>
					<div id=texte_base>
						Dernières actions :<br>
						19h25-26/09 : Hal-Carmin<br>
						19h03-26/09 : Tir-Arkhos<br>
						<br>
					
						
					</div>
					
				</div>
				
				
				
				
				
				<div id=index_elt_action align="left">
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
				</div>
				
			</div>
			
			<br>
			<br>
			<!------------>
			<div id=index_elt style="background-color: #eee;">
				
				

				<div id=index_elt_img align="center">
				
					<div id=img_lieu>
						<img src="..\..\static\forum\img\sante_blesse2gf.png" width="90" height="90" border="1">
					</div>
				</div>
				
				
				
				
				
				
				
				<div id=index_elt_info>
					<div id=texte_titre><a href="#">L'Hopital</a></div>
					<div id=texte_sstitre>Tenu par : Tir-Merias</div>
					<div id=texte_base>Défense : 3<br>7 gardes<br>0 troupe</div>

					
				</div>
				
				
				
				<img src="..\..\static\forum\img\separateur_v.png" style="display:inline-table;">
				
				
				
				
				<div id=index_elt_info_lieu>
					<div id=texte_titre>Le Sénat</div>
					<div id=texte_base>
						Dernières actions :<br>
						19h25-26/09 : Hal-Carmin<br>
						19h03-26/09 : Tir-Arkhos<br>
						<br>
					
						
					</div>
					
				</div>
				
				
				
				
				
				<div id=index_elt_action align="left">
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
					<div id=img_bouton><img src="..\..\static\forum\img\bouton.png"></div>
				</div>
				
			</div>
			
			
</body>
</html>